/* Add a black background color to the top navigation */
body   {
    background-color: #292929;
}

  /* Logo in the center on the Welcome page */
.logo_pic img {
    display: flex;
    border: #e61a1a;
    border-radius: 20px;
    max-width: 500px;
    max-height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 60px;
  }

.logo_title {
    display: flex;
    max-width: 90%;
    max-height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center
}
.title_stuff {
    font-size:40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f2f2f2;
}

/* Quote under the logo image */
.logo_quote {
    display: flex;
    border: #e61a1a;
    border-radius: 20px;
    max-width: 90%;
    max-height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center
}
.quote_stuff {
    font-size:20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f2f2f2;;
}

/* Links to the Home page */
.enter_wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    color: #f2f2f2;
    min-height: fit-content;
    min-width: fit-content;
}
.enter_button {
    display: flex;
    justify-content: center;
    border-style: groove;
    color: #f2f2f2;
    padding: 10px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 16px;
    font-size: 34px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}
.enter_button a {
    color: #ddd;
}

/* Footer to be expanded later */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #141414;
    position: static;
    bottom: 0px;
    height: 50px;
}
.footer p {
    margin: -2px;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Page */

/* Coming Soon Stuff */

.bgimg {
  /* Background image */
  background-image: url('/w3images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: or auto height if removed */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f2f2f2;
  display: block;
}

/* Navigation links change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Site logo as appears on the navigation menu */
.sidenav img {
  max-width: 96%;
  border-style: groove;
  border-color: #f2f2f2;
}





/* News Page Starts Here */

* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #141414;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(109, 109, 109);
  border: 4px solid #25211d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #141414;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #141414 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #141414;
  position: relative;
  border-radius: 6px;
  color: #f2f2f2;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}





/* Contact Page */

.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card h1 {
  color: #FFFFFF;
}

.card p {
  color: #FFFFFF;
}

.title {
  color: #FFFFFF;
  font-size: 18px;
}

.contactbutt {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}